@{
    ViewBag.Title = "Home of the Premier D&D Character Creation App";
}

<div class="jumbotron">
    <h1>D&D Character Creator</h1>
    <p class="lead">Use this handy tool to create your very own Dungeons and Dragons Characters with 5th Edition rules.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started on your new adventure, make sure you're logged in and click the create button to create your brand new character.
        </p>
        <p><a class="btn btn-primary" href="~/Views/Character/Create.cshtml">Start Creating</a></p>
    </div>
    <div class="col-md-4">
        <h2>We've Got Skills</h2>
        <p>Check out our index of all skills currently found in D&D 5th Edition</p>
        <p><a class="btn btn-primary" href="~/Views/Skill/Index.cshtml">Check Out Our Skills</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sling some Spells</h2>
        <p>Want to check out a starter list of spells and cantrips? Look no more! Click the button to view a good mix of spells for beginning players.</p>
        <p><a class="btn btn-primary" href="~/Views/Spell/Index.cshtml">Ready Your Spellbook</a></p>
    </div>
</div>
